#container{
	background-color: blue;
	display: inline-block;
	width: 400px
	height: 400px;

}
#contents{
	background-color: green;
	display: inline-block;
	width: 320px;
	height: 320px;

}
 div {
    border: 1px solid black;
    margin: 100px 100px 150px 80px;
    background-color: lightblue;
    padding: 20px 20px 20px 20px;
}